@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .title-section {
    @apply text-2xl font-bold;
  }

  .subtitle-section {
    @apply text-lg font-bold;
  }

  .session-card-date {
    @apply text-gray-900 text-base font-medium truncate;
  }

  .session-card-duration {
    @apply text-gray-900 text-sm truncate;
  }

  .session-card-owner {
    @apply text-gray-500 text-sm truncate;
  }
}

input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}
